Repository team-cool-neebors/heatstress-digital-shadow, pull requests merged in 2025-10, with the labels that each got.

#21 Init project branch
  .github/workflows/eslint.yml
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: housekeeping

#25 FastAPI backend setup dockerized
  backend/.gitignore
  backend/Dockerfile
  backend/app.py
  backend/requirements.txt
  docker-compose.yml
Labels: backend, housekeeping

#28 Implementing base layer
  README.md
  frontend/Dockerfile
  frontend/babel.config.cjs
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/map/DeckMap.tsx
  frontend/src/map/layers/osmLayer.test.ts
  frontend/src/map/layers/osmLayer.ts
  frontend/src/setupTests.ts
  frontend/test/mocks/fileMock.js
  frontend/test/mocks/styleMock.js
  frontend/tsconfig.json
Labels: frontend
